<div ng-controller="Components.Start">
	&nbsp;<div class="alert alert-success" ng-show="lock">This stage is now locked.</div>
	<form role="form" ng-submit="save()">
		<div class="form-group">
			<label for="project-title">Title</label>
			<input type="text" class="form-control" id="project-title" placeholder="Your Project Title Here" ng-model="projectStart.title" required ng-disabled="lock || disabled">
		</div>

		<!-- TODO: #16 add collaborators by email address -->

		<button type="submit" class="btn btn-primary" ng-disabled="lock || disabled">{{project ? 'Update' : 'Start'}}</button>
	</form>
</div>