<div ng-controller="Components.Start">
	<div ng-show="lock">Thank you for submitting your application.</div>

	<form role="form" ng-submit="save()" ng-hide="lock">
		<div class="form-group">
			<label for="project-title">Title</label>
			<input type="text" class="form-control" id="project-title" placeholder="Your Project Title Here" ng-model="projectStart.title" ng-disabled="role && role != 'owner'" required>
		</div>

		<!-- TODO: #16 add collaborators by email address -->

		<button ng-hide="role && role != 'owner'"  type="submit" class="btn btn-primary">{{project ? 'Update' : 'Start'}}</button>
	</form>
</div>