<div ng-controller="Components.BqiSeedApplication">

	<div ng-show="project">Thank you for submitting your application</div>

	<form ng-submit="submit()" ng-hide="project">
		<label for="title">Proposal Title</label>
		<input type="text" required name="title" id="title" ng-model="application.title">

		<fieldset>
			<legend>Primary Investigator</legend>
			<div class="third">
				<label for="application-pi-name">Name</label>
				<input type="text" required name="application[pi][name]" id="application-pi-name" ng-model="application.pi.name">
			</div>
			<div class="third">
				<label for="application-pi-rank">Rank</label>
				<input type="text" required name="application[pi][rank]" id="application-pi-rank" ng-model="application.pi.rank">
			</div>
			<div class="third">
				<label for="application-pi-email">Email</label>
				<input type="email" required name="application[pi][email]" id="application-pi-email" ng-model="application.pi.email">
			</div>
			<div class="half">
				<label for="application-pi-department">Department</label>
				<input type="text" required name="application[pi][department]" id="application-pi-department" ng-model="application.pi.department">
			</div>
			<div class="half">
				<label for="application-pi-university">University</label>
				<input type="text" required name="application[pi][university]" id="application-pi-university" ng-model="application.pi.university" disabled="disabled">
			</div>
		</fieldset>

		<fieldset ng-repeat="ci in application.ci">
			<legend>Co-Investigators <a href ng-click="removeCi($index)">- Remove</a></legend>
			<div class="third">
				<label for="application-ci-name">Name</label>
				<input type="text" required name="application[ci][][name]" id="application-ci-name" ng-model="ci.name">
			</div>
			<div class="third">
				<label for="application-ci-rank">Rank</label>
				<input type="text" required name="application[ci][][rank]" id="application-ci-rank" ng-model="ci.rank">
			</div>
			<div class="third">
				<label for="application-ci-email">Email</label>
				<input type="email" required name="application[ci][][email]" id="application-ci-email" ng-model="ci.email">
			</div>
			<div class="half">
				<label for="application-ci-department">Department</label>
				<input type="text" required name="application[ci][][department]" id="application-ci-department" ng-model="ci.department">
			</div>
			<div class="half">
				<label for="application-ci-university">University</label>
				<input type="text" required name="application[ci][][university]" id="application-ci-university" ng-model="ci.university">
			</div>
		</fieldset>
		<a href ng-click="addCi()" onclick="return false;">+ Add Co-Investigator</a>

		<div></div>

		<div class="pad">
			<label style="margin-bottom: 10px;">Is this a new collaboration?</label>
			<label class="value"><input type="checkbox" ng-model="application.collaboration.new"> Yes</label>

		</div>

		<div class="pad" ng-show="application.collaboration.new">
			<label style="margin-bottom: 10px;">Did you connect because of a BQI event?</label>
			<label class="value" ng-repeat="(key, value) in application.collaboration.activities"><input type="checkbox" ng-model="value"> &#123;&#123;key&#125;&#125;</label>
			<label class="value" style="display: inline-block;"><input type="checkbox" ng-model="application.collaboration.other.active"></label> <input ng-model="application.collaboration.other.name" style="display: inline-block; width: 30%;">
		</div>

		<div class="pad">
			<label style="margin-bottom: 10px;">Focus Areas</label>
			<label class="value" ng-repeat="(key, value) in application.focuses"><input type="checkbox" ng-model="value"> &#123;&#123;key&#125;&#125;</label>
		</div>

		<fieldset>
			<legend>Financial Contact</legend>
			<div class="third">
				<label for="application-financial_contact-name">Name</label>
				<input type="text" required name="application[financial_contact][name]" id="application-financial_contact-name" ng-model="application.financial_contact.name">
			</div>
			<div class="third">
				<label for="application-financial_contact-phone">Phone</label>
				<input type="tel" name="application[financial_contact][phone]" id="application-financial_contact-phone" ng-model="application.financial_contact.phone">
			</div>
			<div class="third">
				<label for="application-financial_contact-email">Email</label>
				<input type="email" name="application[financial_contact][email]" id="application-financial_contact-email" ng-model="application.financial_contact.email">
			</div>
		</fieldset>

		<label for="application-amount">Requested Amount (USD)</label>
		<input type="number" name="application[amount]" id="application-amount" ng-model="application.amount">

		<label>ABSTRACT (250 WORDS MAX)</label>
		<p>State your hypothesis and how it relates to one of the guiding Big Questions. Explain what is novel about your approach and how this project could lead to an important research agenda.</p>
		<textarea ckeditor ng-model="application.abstract"></textarea>

		<label for="Short-Answer">Short Answer 1</label>
		<p>What are the proposed activities and why are they crucial for accomplishing the goals of the project?</p>
		<textarea ckeditor ng-model="application.short_answer_1"></textarea>

		<label for="Short-Answer">Short Answer 2</label>
		<p>What is the project team’s capacity for success, including relevant expertise and access to resources?</p>
		<textarea ckeditor ng-model="application.short_answer_2"></textarea>

		<label for="Project-Description">PROJECT OUTPUTS AND OUTCOMES (250 WORDS MAX)</label>
		<p>Please detail the major activities of the project over the grant period, and timeframe for completion of at least 2 anticipated concrete outputs of the proposed activity. Outputs could include, but are not limited to: data sets, manuscripts, educational or training tools, press releases, and conferences. Outputs should be concrete or measurable products that will be generated during the course of this project. Please describe what potential outcomes this project will have. Outcomes should be short- and long-term impacts on areas of research and on society</p>
		<textarea ckeditor ng-model="application.outputs_and_outcomes"></textarea>

		<br /><br />
		<input type="submit" value="Submit">
	</form>
</div>