<div>
	<h2>Projects</h2>
</div>
<hr/>

<div>
	<div class="row">
		<div class="col-sm-4 col-md-5 blog-main">
			<form role="form">
				<select ng-change="filter()" class="form-control" ng-model="cycle" ng-options="cycle.title for cycle in cycles">
					<option value="">All Cycles</option>
				</select>
			</form>
			<table ng-table class="table ng-table-responsive">
				<tr ui-sref-active="active" ng-repeat="project in projects">
					<td data-title="'Title'">
						<a ui-sref="admin.projects.project.show({project: project.id})">{{project.title || '[No Title]'}}</a>
					</td>
					<td data-title="'PI'">
						{{project.flow.stages.application.data.pi.name}}
					</td>
					<td data-title="'Department'">
						{{project.flow.stages.application.data.pi.department}}
					</td>
					<td data-title="'Submitted'">
						{{project.flow.stages.submission.status == 'submitted' ? 'Yes' : 'No'}}
					</td>
					<td data-title="'Rating'">
						{{project.flow.stages.administrative_review.summary.rating}}
					</td>
					<td data-title="'Recommendation'">
						{{project.flow.stages.administrative_review.summary.recommendation}}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-8 col-md-7">
			<div ui-view>Choose a project from the sidebar.</div>
		</div>
	</div>
</div>