<div class="pull-right">
	<button type="button" class="btn btn-sm btn-default" ui-sref="admin.projects.project.edit">Edit</button>
	<button type="button" class="btn btn-sm btn-danger" ng-click="delete()">Delete</button>
</div>

<h2>{{project.title || '[No Title]'}}</h2>
<b><a ui-sref="admin.cycles.cycle.show({cycle: cycle.id})">{{cycle.title}}</a></b>

<table ng-table class="table ng-table-responsive">
	<tr ng-repeat="(id, data) in project.users" ng-if="data != null">
		<td data-title="'Name'"><a ui-sref="admin.users.user.show({user: id})">{{data.name}}</a></td>
		<td data-title="'Role'">{{data.role}}</td>
	</tr>
</table>

<hr>

<ol>
	<li ng-repeat="stage in stages">
		<b ng-show="stage.project.status" class="pull-right">({{stage.project.status}})</b>
		<h4>{{stage.cycle.title}}</h4>
		<ng-include src="'components/'+stage.cycle.component.name+'/admin/summary.html'"></ng-include>
	</li>
</ol>

