<div class="pull-right">
	<button type="button" class="btn btn-sm btn-default" ui-sref="admin.programs.program.edit">Edit</button>
	<!-- <button type="button" class="btn btn-sm btn-danger" ng-click="delete()">Delete</button> -->
</div>

<h2>{{program.title || '[No Title]'}}</h2>
<hr>


<h4>Roles</h4>
<ul>
	<li ng-repeat="role in program.roles">{{role}}</li>
</ul>
<br><br>

<h4>Users</h4>
<table ng-table class="table ng-table-responsive">
	<tr ng-repeat="(id, data) in program.users" ng-if="data != null">
		<td data-title="'Name'"><a ui-sref="admin.users.user.show({user: id})">{{data.name}}</a></td>
		<td data-title="'Role'">{{data.role}}</td>
	</tr>
</table>


<h4>Projects</h4>
<ul>
	<li ng-repeat="project in programProjects">
		<a ui-sref="admin.projects.project.show({project: project.id})">{{project.title}}</a>
	</li>
</ul>

