<div class="row" style="margin-top: 20px;">
	<aside class="col-md-4">
		<div class="well" ng-show="currentUser.admin">
			<h3>Admin</h3>
			<ul>
				<li><a ui-sref="admin.users">Users</a></li>
				<li><a ui-sref="admin.programs">Programs</a></li>
				<li><a ui-sref="admin.projects">Projects</a></li>
				<li><a href ng-click="logout()">Log Out</a></li>
			</ul>
		</div>
		<div class="well">
			<h3>Portal</h3>
			<div>
				<nav>
					<ul>
						<li ui-sref-active="active"><a ui-sref="portal.dashboard">Dashboard</a></li>
						<li ui-sref-active="active"><a ui-sref="portal.user.show">My Account</a></li>
						<li ui-sref-active="active"><a href ng-click="logout()">Log Out</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="well">
			<h3>Projects</h3>
			<div>
				<nav>
					<ul>
						<li ui-sref-active="active" ng-repeat="program in nav">
							<!-- <a ui-sref="programs({ program: program.id })">{{ program.title }}</a> -->
							<h4>{{ program.title }}</h4>
							<ul>
								<li ui-sref-active="active" ng-repeat="project in program.projects"><a ui-sref="portal.projects.stage({ project: project.id, stage: project.flow.active })">{{ project.title || project.id }}</a></li>
								<li ui-srec-active="active"><a ui-sref="portal.start({ program: program.id})">+ New</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</aside>
	<section ui-view class="col-md-8"></section>
</div>
