<aside>
	<div class="widget">
		<h3>Portal</h3>
		<div>
			<nav>
				<ul>
					<li ui-sref-active="active"><a ui-sref="portal.dashboard">Dashboard</a></li>
					<!-- <li ui-sref-active="active"><a ui-sref="user">My Account</a></li> -->
					<li ui-sref-active="active"><a href ng-click="logout()">Log Out</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="widget">
		<h3>Projects:</h3>
		<div>
			<nav>
				<ul>
					<li ui-sref-active="active" ng-repeat="cycle in nav">
						<!-- <a ui-sref="cycles({ cycle: cycle.id })">{{ cycle.title }}</a> -->
						<h4>{{ cycle.title }}</h4>
						<ul>
							<li ui-sref-active="active" ng-repeat="project in cycle.projects"><a ui-sref="portal.projects.stage({ project: project.id, stage: project.flow.active })">{{ project.title || project.id }}</a></li>
							<li ui-srec-active="active"><a ui-sref="portal.apply({ cycle: cycle.id})">+ Apply</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</aside>

<section ui-view class="center portal"></section>
