body {
	background: #fff;
}

.well {
	> h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
		margin-top: 0;
	}
}

#main {
	width: 100%;
}

.x-scroll {
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;

	> * {
		display: inline-block !important;
		float: none !important;
	}

	&.nav-tabs > li.active > a, &.nav-tabs > li.active > a:hover {
		background: #ddd;
	}
}

tfoot {
	display: none;
}
