<div>
	<h2>{{cycle.title || '[No Title]'}}</h2>
</div>
<hr>

<form role="form" ng-submit="save()">
	<div class="form-group">
		<label for="cycle-title">Title</label>
		<input type="text" class="form-control" id="cycle-title" placeholder="Title Goes Here" ng-model="cycleEdit.title">
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="form-inline">
			  <div class="form-group">
					<select class="form-control" ng-model="addUserData" ng-options="user.name for user in users">
						<option value="">Select User</option>
					</select>
					<div ng-click="addUser()" class="btn btn-default">+ Add User</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<table class="table ng-table-responsive">
				<tr>
					<th>User</th>
					<th>Role</th>
					<th></th>
				</tr>
				<tr ng-repeat="(id, data) in cycleEdit.users" ng-if="data != null">
					<td>{{data.name}}</td>
					<td><select class="form-control" ng-model="data.role" ng-options="role for role in cycle.roles"></select></td>
					<td><div ng-click="removeUser(id)" class="btn btn-danger btn-sm pull-right">Remove</div></td>
				</tr>
			</table>
		</div>
	</div>

	<hr>

	<div type="button" class="btn btn-default" ui-sref="admin.cycles.cycle.show">Cancel</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>