<h4>Project Title</h4>
<div>{{project.title}}</div>
<br>

<h4>Authors</h4>
<div><span>{{project.flow.stages.application.data.pi.name}}</span><span ng-repeat="ci in project.flow.stages.application.data.ci">, {{ci.name}}</span></div>
<br>

<h4>Requested Amount</h4>
<div>${{project.flow.stages.application.data.amount}}</div>
<br>

<p><b>SCORE</b> With respect to the Selection Criteria, please assign a score on a scale from 1 to 7 to each section. A score of 1 is the lowest score, which means that the section falls shortest from the Selection Criteria, while 7 is the highest score, which best meets the Selection Criteria.</p>

<fieldset>
	<legend>Abstract</legend>
	<p><b>Please score</b> the Abstract from 1 (lowest) to 7 (highest) to indicate whether the proposed hypothesis is truly bold – i. e., that it may transform the scholarship on the subject and lead to a substantial research agenda.</p>
	<textarea ckeditor="ckSandbox" ng-model="project.flow.stages.application.data.abstract" disabled></textarea>

	<label for="abstract-rating">Rating</label>
	<div class="input-group">
		<span class="input-group-addon">{{data.abstract.rating}}</span>
		<div class="form-control">
			<input type="range" min="0" max="7" step="1" ng-model="data.abstract.rating" />
		</div>
	</div>
	<br>

	<label for="abstract-explaination">Explaination</label>
	<textarea ckeditor id="abstract-explaination" ng-model="data.abstract.explaination" ng-disabled="lock || disabled"></textarea>
	<br>

	<label for="abstract-public">Share with authors?</label>
	<input type="checkbox" ng-model="data.abstract.share" ng-disabled="lock || disabled">

</fieldset>
<br><br>

<fieldset>
	<legend>Short Answer 1</legend>
	<p>Is the hypothesis intellectually sound and novel?</p>
	<textarea ckeditor="ckSandbox" ng-model="project.flow.stages.application.data.short_answer_1" disabled></textarea>

	<label for="short_answer_1-rating">Rating</label>
	<div class="input-group">
		<span class="input-group-addon">{{data.short_answer_1.rating}}</span>
		<div class="form-control">
			<input type="range" min="0" max="7" step="1" ng-model="data.short_answer_1.rating" />
		</div>
	</div>
	<br>

	<label for="short_answer_1-explaination">Explaination</label>
	<textarea ckeditor id="short_answer_1-explaination" ng-model="data.short_answer_1.explaination" ng-disabled="lock || disabled"></textarea>
	<br>

	<label for="short_answer_1-public">Share with authors?</label>
	<input type="checkbox" ng-model="data.short_answer_1.share" ng-disabled="lock || disabled">

</fieldset>
<br><br>

<fieldset>
	<legend>Short Answer 2</legend>
	<p>Do you think a seed grant will be leveraged effectively by the research team?</p>
	<textarea ckeditor="ckSandbox" ng-model="project.flow.stages.application.data.short_answer_2" disabled></textarea>

	<label for="short_answer_2-rating">Rating</label>
	<div class="input-group">
		<span class="input-group-addon">{{data.short_answer_2.rating}}</span>
		<div class="form-control">
			<input type="range" min="0" max="7" step="1" ng-model="data.short_answer_2.rating" />
		</div>
	</div>
	<br>

	<label for="short_answer_2-explaination">Explaination</label>
	<textarea ckeditor id="short_answer_2-explaination" ng-model="data.short_answer_2.explaination" ng-disabled="lock || disabled"></textarea>
	<br>

	<label for="short_answer_2-public">Share with authors?</label>
	<input type="checkbox" ng-model="data.short_answer_2.share" ng-disabled="lock || disabled">

</fieldset>
<br><br>

<fieldset>
	<legend>Output and Outcomes</legend>
	<p>Do you think this research program can have important implications and external funding in the future?</p>
	<textarea ckeditor="ckSandbox" ng-model="project.flow.stages.application.data.outputs_and_outcomes" disabled></textarea>

	<label for="outputs_and_outcomes-rating">Rating</label>
	<div class="input-group">
		<span class="input-group-addon">{{data.outputs_and_outcomes.rating}}</span>
		<div class="form-control">
			<input type="range" min="0" max="7" step="1" ng-model="data.outputs_and_outcomes.rating" />
		</div>
	</div>
	<br>

	<label for="outputs_and_outcomes-explaination">Explaination</label>
	<textarea ckeditor id="outputs_and_outcomes-explaination" ng-model="data.outputs_and_outcomes.explaination" ng-disabled="lock || disabled"></textarea>
	<br>

	<label for="outputs_and_outcomes-public">Share with authors?</label>
	<input type="checkbox" ng-model="data.outputs_and_outcomes.share" ng-disabled="lock || disabled">

</fieldset>
<br><br>


<h4>Biosketches</h4>
<div class="form-group" ng-repeat="input in project.flow.stages.supplement.data.biosketches">
	<b>{{input.name}}</b>: &nbsp;
	<a class="btn btn-default btn-sm" href="../api{{input.path}}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
</div>
<br>

<h4>Publications (team)</h4>
<div class="form-group" ng-repeat="input in project.flow.stages.supplement.data.team_publications">
	<a ng-show="input.path" class="btn btn-default btn-sm" href="../api{{input.path}}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
</div>
<br>

<h4>Publications (field of research)</h4>
<div class="form-group" ng-repeat="input in project.flow.stages.supplement.data.area_publications">
	<a ng-show="input.path" class="btn btn-default btn-sm" href="../api{{input.path}}" target="_blank"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
</div>
<br>

<fieldset>
	<legend>Do you think the budget is justified?</legend>
	<div class="radio">
		<label>
			<input type="radio" name="budget.justified" ng-model="data.budget.justified" ng-value="false" ng-disabled="lock || disabled">
			Too high
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="budget.justified" ng-model="data.budget.justified" ng-value="true" ng-disabled="lock || disabled">
			Just right
		</label>
	</div>

	<div ng-if="data.budget.justified === false">
		<label for="budget-comments">How much do you think the budget should be adjusted?</label>
		<textarea ckeditor id="budget-comments" ng-model="data.budget.comments" ng-disabled="lock || disabled"></textarea>
	</div>
</fieldset>
<br><br>

<fieldset>
	<legend>Do you think the project should be funded?</legend>
	<div class="radio">
		<label>
			<input type="radio" name="recommendation-value" ng-model="data.recommendation.value" ng-value="0" ng-disabled="lock || disabled">
			I do not think the project should be funded
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="recommendation-value" ng-model="data.recommendation.value" ng-value="1" ng-disabled="lock || disabled">
			The project could be funded with significant adjustments to content - Revise and Resubmit
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="recommendation-value" ng-model="data.recommendation.value" ng-value="2" ng-disabled="lock || disabled">
			The project could be funded in the current state with budget adjustments
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="recommendation-value" ng-model="data.recommendation.value" ng-value="3" ng-disabled="lock || disabled">
			I strongly support funding this project as is
		</label>
	</div>
</fieldset>
<br><br>

<fieldset>
	<legend>Overall Score</legend>
	<p>This is the average of your ratings.</p>
	<div class="input-group">
		<span class="input-group-addon">{{rating}}</span>
		<div class="form-control">
			<input disabled type="range" min="0" max="7" step="1" ng-model="rating" />
		</div>
	</div>
</fieldset>
<br><br>

<fieldset>
	<legend>Justification Narrative</legend>
	<p>Only mention points that justify your decision. Please do not summarize the project. Since these comments will not be shared with the author of the proposal, you may choose to be more candid.</p>
	<textarea ckeditor id="justification" ng-model="data.justification" ng-disabled="lock || disabled"></textarea>
</fieldset>
<br><br>

<fieldset>
	<legend>Feedback to the Author</legend>
	<p>Applicants place great value on independent evaluations, and your observations may improve their study design or direct them to relevant literature. As you prepare your comments, please be sure that the statements are balanced, informative & concise.</p>
	<textarea ckeditor id="feedback" ng-model="data.feedback" ng-disabled="lock || disabled"></textarea>
</fieldset>
<br><br>
	
<br><br>

<button class="btn btn-primary" type="submit" ng-disabled="lock || disabled">Save and Continue</button>
<br><br />
<style type="text/css">

	.form-control > input[type=range] {
		height: 20px;
	}

	textarea[disabled] + .cke .cke_top, textarea[disabled] + .cke .cke_bottom {
		display: none;
	}

	textarea[disabled] + .cke {
		margin-bottom: 20px;
	}
</style>