<div ng-controller="Components.BqiSeedApplication">

	<form ng-submit="submit()">
		<label>Project Title</label>
		<p>{{project.title}}</p>

		<label>Project Amount</label>
		<p>{{project.flow.stages.application.data.amount}}</p>

		<div class="instructions">
			<p>With respect to the Selection Criteria, please assign a score on a scale from 1 to 7 to each section. A score of 1 is the lowest score, which means that the section falls shortest from the Selection Criteria, while 7 is the highest score, which best meets the Selection Criteria.</p>
		</div>

		<fieldset>
			<legend>Abstract</legend>
			<div class="instructions">
				Please score the Abstract from 1 (lowest) to 7 (highest) to indicate whether the proposed hypothesis aligns with one of the guiding Big Questions, is a novel way to address the subject and can lead to an important research agenda:
			</div>
			<div class="value">
				{{project.flow.stages.application.data.abstract}}
			</div>
			<label>Rating</label>
			<input type="range" min="0" max="7" value="4" step="1" ng-model="form.abstract.rating" />

			<label>Explaination</label>
			<textarea ng-model="form.abstract.explaination"></textarea>

			<input type="checkbox" ng-model="form.abstract.share">Share with author(s)?
		</fieldset>

		<h4>Short Answers</h4>

		<fieldset>
			<legend>Short Answer 1</legend>
			<div class="instructions">
				Do you think the proposed activities are crucial to the goals of the project?
			</div>
			<div class="value">
				{{project.flow.stages.application.data.short_answer_1}}
			</div>
			<label>Rating</label>
			<input type="range" min="0" max="7" value="4" step="1" ng-model="form.short_answer_1.rating" />

			<label>Explaination</label>
			<textarea ng-model="form.short_answer_1.explaination"></textarea>
			<input type="checkbox" ng-model="form.short_answer_1.share">Share with author(s)?
		</fieldset>


		<fieldset>
			<legend>Short Answer 2</legend>
			<div class="instructions">
				Does the project’s team have a good capacity for success?
			</div>
			<div class="value">
				{{project.flow.stages.application.data.short_answer_2}}
			</div>
			<label>Rating</label>
			<input type="range" min="0" max="7" value="4" step="1" ng-model="form.short_answer_2.rating" />

			<label>Explaination</label>
			<textarea ng-model="form.short_answer_2.explaination"></textarea>
			<input type="checkbox" ng-model="form.short_answer_2.share">Share with author(s)?
		</fieldset>

		<h4>Project Outputs &amp; Outcomes</h4>

		<fieldset>
			<legend>Project Outputs &amp; Outcomes</legend>
			<div class="instructions">
				Do you think the proposed outputs and outcomes are reasonable and can be accomplished within the span of the project?
			</div>
			<div class="value">
				{{project.flow.stages.application.data.outputs_and_outcomes}}
			</div>
			<label>Rating</label>
			<input type="range" min="0" max="7" value="4" step="1" ng-model="form.outputs_and_outcomes.rating" />

			<label>Explaination</label>
			<textarea ng-model="form.outputs_and_outcomes.explaination"></textarea>
			<input type="checkbox" ng-model="form.outputs_and_outcomes.share">Share with author(s)?
		</fieldset>


		<h4>Supplementary Materials</h4>

		<fieldset>
			<legend>Relevant Publications</legend>
			<b>TBD</b>
		</fieldset>

		<fieldset>
			<legend>Budget &amp; Budget Justification</legend>
			<ul>
				<li><a href>Download Budget</a></li>
				<li><a href>Download Budget Justification</a></li>
			</ul>

			<label>Do you think the budget is justified?</label>
			<select>
				<option>---</option>
				<option>Too High</option>
				<option>Just Right</option>
			</select>

			<label>How much do you think the budget should be adjusted?</label>
			<input type="number">

			<label>Comments</label>
			<textarea></textarea>
		</fieldset>


		<h4>DO YOU THINK THE PROJECT SHOULD BE FUNDED?</h4>
		<div class="instructions">
			1. I do not think the project should be funded   <br />
			3. The project could be funded with significant adjustments to content - Revise and Resubmit  <br />
			5. The project could be funded in the current state with budget adjustments  <br />
			7. I strongly support funding this project as is<br />
		</div>
		<label>Rating</label>
		<input type="range" min="0" max="7" value="4" step="1" ng-model="form.outputs_and_outcomes.rating" />

		<label>Justification Narrative</label>
		<p>Only mention points that justify your decision. Please do not summarize the project. Since these comments will not be shared with the author of the proposal, you may choose be more candid.</p>
		<textarea ckeditor></textarea>


		<label>Feedback to the Author</label>
		<p>Applicants place great value on independent evaluations, and your observations may improve their study design or direct them to relevant literature. As you prepare your comments, please be sure that the statements are balanced, informative & concise.</p>
		<textarea ckeditor></textarea>

		<br /><br />
		<input type="submit" value="Submit">
	</form>
</div>