<h2>{{stage.program.title}}</h2>
<div ng-controller="Components.Admin.BqiSeedApplication">

	<form ng-submit="submit()">
		<fieldset>
			<legend>Primary Investigator</legend>
			<div class="form-group">
				<label for="data-pi-name">Name</label>
				<input type="text" class="form-control" id="data-pi-name" ng-model="data.pi.name" disabled>
			</div>
			<div class="form-group">
				<label for="data-pi-rank">Rank</label>
				<input type="text" class="form-control" id="data-pi-rank" ng-model="data.pi.rank" disabled>
			</div>
			<div class="form-group">
				<label for="data-pi-email">Email</label>
				<input type="email" class="form-control" id="data-pi-email" ng-model="data.pi.email" disabled>
			</div>
			<div class="form-group">
				<label for="data-pi-department">Department</label>
				<input type="text" class="form-control" id="data-pi-department" ng-model="data.pi.department" disabled>
			</div>
		</fieldset>
		<br>

		<fieldset>
			<legend>Co-Investigators</legend>
			<fieldset ng-repeat="ci in data.ci" style="margin-left: 20px;">
				<legend><small>{{ci.name}}  <button class="btn btn-danger btn-xs" ng-click="removeCi($index)">Remove</button></small></legend>
				<div class="form-group">
					<label for="data-ci-{{$index}}-name">Name</label>
					<input type="text" class="form-control" id="data-ci-{{$index}}-name" ng-model="ci.name" disabled>
				</div>
				<div class="form-group">
					<label for="data-ci-{{$index}}-rank">Rank</label>
					<input type="text" class="form-control" id="data-ci-{{$index}}-rank" ng-model="ci.rank" disabled>
				</div>
				<div class="form-group">
					<label for="data-ci-{{$index}}-email">Email</label>
					<input type="email" class="form-control" id="data-ci-{{$index}}-email" ng-model="ci.email" disabled>
				</div>
				<div class="form-group">
					<label for="data-ci-{{$index}}-department">Department</label>
					<input type="text" class="form-control" id="data-ci-{{$index}}-department" ng-model="ci.department" disabled>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" ng-model="ci.university" value="University of Chicago" disabled>
						University of Chicago
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" ng-model="ci.university" value="Other" disabled>
						Other
					</label>
				</div>
			</fieldset>
			<button class="btn btn-primary" ng-click="addCi()" onclick="return false;" disabled>+ Add Co-Investigator</button>
		</fieldset>
		<br>
		
		<fieldset>
			<legend>Collaboration</legend>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="data.collaboration.new" disabled>
					Is this a new collaboration?
				</label>
			</div>
			<div ng-show="data.collaboration.new">
				<b>If yes, is it due to any BQI-related activity?</b>
				<div class="checkbox" ng-repeat="activity in data.collaboration.activities">
					<label class="value">
						<input type="checkbox" ng-model="activity.value" disabled>
						{{activity.name}}
					</label>
				</div>
				<div class="input-group">
				  <span class="input-group-addon">
				    <input type="checkbox" ng-model="data.collaboration.other.active" disabled>
				  </span>
				  <input type="text" class="form-control" ng-model="data.collaboration.other.name" disabled>
				</div>
			</div>
		</fieldset>
		<br>

		<fieldset>
			<legend>Focus Areas</legend>
			<div class="checkbox" ng-repeat="focus in data.focuses">
				<label>
					<input type="checkbox" ng-model="focus.value" disabled>
					{{focus.name}}
				</label>
			</div>
		</fieldset>
		<br>

		<fieldset>
			<legend>Financial Contact</legend>
			<div class="form-group">
				<label for="data-financial_contact-name">Name</label>
				<input type="text" class="form-control" id="data-financial_contact-name" ng-model="data.financial_contact.name" disabled>
			</div>
			<div class="form-group">
				<label for="data-financial_contact-phone">Rank</label>
				<input type="tel" class="form-control" id="data-financial_contact-phone" ng-model="data.financial_contact.phone" disabled>
			</div>
			<div class="form-group">
				<label for="data-financial_contact-email">Email</label>
				<input type="email" class="form-control" id="data-financial_contact-email" ng-model="data.financial_contact.email" disabled>
			</div>
		</fieldset>
		<br>

		<fieldset>
			<legend>Requested Amount</legend>
			<div class="input-group">
			  <span class="input-group-addon">$</span>
			  <input type="number" class="form-control" id="data-amount" ng-model="data.amount" disabled>
			  <span class="input-group-addon">.00</span>
			</div>
		</fieldset>
		<br><br>

		
		<fieldset>
			<legend>ABSTRACT (300 WORDS MAX)</legend>
			<p>State your hypothesis and how it relates to one of the guiding Big Questions. Explain what is truly bold about your approach – i. e., how it may transform the scholarship on the subject and lead to a substantial research agenda.</p>
			<textarea ckeditor="limit_300" ng-model="data.abstract" disabled></textarea>
		</fieldset>
		<br><br>

		<fieldset>
			<legend for="Short-Answer">Short Answer 1 (150 Words Max)</legend>
			<p>Please provide the intellectual grounding of the hypothesis and explain its novelty.</p>
			<textarea ckeditor="limit_150" ng-model="data.short_answer_1" disabled></textarea>
		</fieldset>
		<br><br>

		<fieldset>
			<legend for="Short-Answer">Short Answer 2 (150 Words Max)</legend>
			<p>Please detail the major activities of the project over the grant period and how can the seed grant funds be leveraged by the research team.</p>
			<textarea ckeditor="limit_150" ng-model="data.short_answer_2" disabled></textarea>
		</fieldset>
		<br><br>

		<fieldset>
			<legend for="Project-Description">PROJECT OUTPUTS AND OUTCOMES (200 WORDS MAX)</legend>
			<p>Please explain how this line of inquiry may achieve short- and long-term impact on research and, perhaps, the society. Are there concrete short-term outputs that you anticipate? Can this research program become sustainable and attain external funding in the future? What are the important implications of this research?</p>
			<textarea ckeditor="limit_200" ng-model="data.outputs_and_outcomes" disabled></textarea>
		</fieldset>
		<br><br>

		<!-- <button class="btn btn-primary" type="submit">Save and Continue</button> -->
		<br><br />
	</form>
	<style type="text/css">
		textarea[disabled] + .cke .cke_top, textarea[disabled] + .cke .cke_bottom {
			display: none;
		}
	</style>
</div>